name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: espressif/idf:v5.4.1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build firmware
        run: |
          . $IDF_PATH/export.sh
          idf.py set-target esp32s3
          idf.py build
        shell: bash
